@font-face {
    font-family: HelveticaNeue;
    src: url(../fonts/HelveticaNeue.ttf);
}

@font-face {
    font-family: HelveticaNeueB;
    src: url(../fonts/HelveticaNeueBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0 auto;
    overflow-x: hidden;
    max-width: 100%;
    background: #F2F2F2 !important;
}

button:active, button:focus {
    outline: none
}

button::-moz-focus-inner {
    border: 0
}

.container {
    background: #FFF;
    padding-top: 2%;
}

#button_top {
    background: #F2F2F2;
    border-radius: 8px;
    width: 142px;
    height: 64px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #2F80ED;
    position: fixed;
    z-index: 9999;
    border: 0;
}

.row {
    max-width: 1152px;
    width: 100%;
    margin: 0 auto;
}

.oferta-header {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 4%;
}

.oferta-text {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
    padding-bottom: 2.8%;
}

span {
    font-weight: bold;
}

.oferta-contact {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
    line-height: 1em;
}

.personal-contact {
    padding-top: 5px;
}

.buttom-bottom {
    background: #F2F2F2;
    border-radius: 8px;
    width: 142px;
    height: 64px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #2F80ED;
    display: none;
    z-index: 9999;
}

.privacy-header {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 6%;
    margin-top: 3%;
    letter-spacing: 1.5px;
    max-width: 720px;
    width: 100%;
}

.privacy-text {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
    padding-bottom: 2.8%;
}

.text-point2 {
    margin-top: 5.9%;
}

.text-point3 {
    margin-top: 2%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.text-point4 {
    margin-top: 6%;
}

.text-point5 {
    margin-top: 5.5% !important;
}

.text-point6 {
    margin-top: 6.5%;
}

.get-name {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 46px;
    color: #333333;
    margin-bottom: 3%;
    margin-top: 0;
}

.get-name2 {
    margin-top: 7%;
}

.model {
    padding-top: 5.4%;
}

.model-header {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 6%;
    margin-top: 3%;
    letter-spacing: 1.5px;
    max-width: 720px;
    width: 100%;
    white-space: nowrap;
}

.text-model {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
    margin-right: 3%;
    margin-bottom: 4.6%;
}

.text-model-pp {
    margin-bottom: 1%;
}

.text-model-mob {
    margin-top: -14%;
}

.text-model-rest {
    margin-bottom: 0;
}

.text-model2 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: 4.5%;
}

.text-model-action {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
}

.sticker3-pp {
    margin-top: 2%;
}

.text-model3 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    padding-top: 52%;
}

.text-model3-pp {
    padding-top: 38%;
}

.get-name3 {
    margin-top: 7.5%;
}

.text-model4 {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
    margin-top: 4%;
    margin-bottom: 4%;
}

.text-model4-pp {
    margin-top: 0.5%;
}

.text-model4-pp2 {
    margin-top: 5%;
}

.text-model4-pp3 {
    margin-top: 0;
}

.text-model3-pp2 {
    padding-top: 47%;
}

.text-model5 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    padding-top: 60%;
}

.text-model5-pp {
    padding-top: 52%;
}

img {
    max-width: 736px;
    width: 100%;
}

.img-syst {
    padding-top: 25%;
}

.img-pp {
    margin-top: 2%;
}

.hp {
    max-width: 1120px;
    width: 100%;
}

.hp-discr {
    margin-top: 6%;
}

.text-model6 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    padding-top: 80%;
}

.text-model7 {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
    margin-top: 11%;
    margin-bottom: 4%;
}

.bottom-model {
    margin-bottom: 19%;
}